@page
@model CLDVPOE.Pages.Returns.CreateModel
@{
    Layout = "~/Pages/Shared/_dashboard.cshtml";
}
<div class="p-5">
    <br>
    <h2>New Return</h2>

    @if (Model.errorMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <form method="post">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">rentalID</label>
            <div class="col-sm-6">
                <select class="form-select" name="rentalID">
                    @{
                        foreach (var item in Rentals.IndexModel.listRentals)
                        {
                            <option value="@item.rentalID">@item.rentalID</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">inspectorID</label>
            <div class="col-sm-6">
                <select class="form-select" name="inspectorID">
                    @foreach (var item in Inspectors.IndexModel.listInspectors)
                    {
                        <option value="@item.inspectorID">@item.inspectorID</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">returnDate</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="returnDate" value="@Model.returns.returnDate" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">elapsedDate</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="elapsedDate" value="@Model.returns.elapsedDate" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">fine</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="fine" value="@Model.returns.fine" />
            </div>
        </div>


        @if (Model.successMessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Returns/Index" role="button">Cancel</a>
            </div>
        </div>
    </form>
</div>