@page
@model CLDVPOE.Pages.Drivers.EditModel
@{
    Layout = "~/Pages/Shared/_dashboard.cshtml";
}
<div class="p-5">
    <br>
    <h2>Edit Driver</h2>

    @if (Model.errorMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <form method="post">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">driverName</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="driverName" value="@Model.drivers.driverName" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">driverAddress</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="driverAddress" value="@Model.drivers.driverAddress" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">driverEmail</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="driverEmail" value="@Model.drivers.driverEmail" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">driverMobileNumber</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="driverMobileNumber" value="@Model.drivers.driverMobileNumber" />
            </div>
        </div>
        @if (Model.successMessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Drivers/Index" role="button">Cancel</a>
            </div>
        </div>
    </form>
</div>